@tailwind base;
@tailwind components;
@tailwind utilities;

.home-container {
   min-height: 95vh;
   display: flex;
   flex-direction: column;
}

.block-container {
   margin: 0 3.5rem;
   display: flex;
   justify-content:center;
   flex-direction: column;
}



@media (min-width: 480px) {
   .block-container {
      margin: 0 3rem;
   }
}
@media (max-width: 360px) {
   .block-container {
      margin: 0 3rem;
   }
}